In [1]:
import pymysql
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from sklearn.impute import SimpleImputer
from pymysql import Error, IntegrityError, MySQLError

In [2]:
#Reading the csv file
df1 = pd.read_csv('store_sales_1.csv')
df2 = pd.read_csv('store_sales_2.csv')
df3 = pd.read_csv('store_sales_3.csv')

In [3]:
print(df1.info(),"\n")
print(df1.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductName   100 non-null    object
 1   Qty           79 non-null     float64
 2   Unit_Price    78 non-null     float64
 3   SaleDate      100 non-null    object
 4   CurrencyType  78 non-null     object
 5   CustomerID    90 non-null     object
 6   StoreID       100 non-null    object
dtypes: float64(2), object(5)
memory usage: 5.6+ KB
None

Index(['ProductName', 'Qty', 'Unit_Price', 'SaleDate', 'CurrencyType',
       'CustomerID', 'StoreID'],
      dtype='object')

In [4]:
df1.describe()

             Qty  Unit_Price
count  79.000000   78.000000
mean    2.164557   19.416667
std     0.807503    7.428847
min     1.000000   10.500000
25%     1.500000   15.750000
50%     2.000000   17.875000
75%     3.000000   30.000000
max     3.000000   30.000000

In [5]:
df1.isnull().sum()

ProductName      0
Qty             21
Unit_Price      22
SaleDate         0
CurrencyType    22
CustomerID      10
StoreID          0
dtype: int64

In [6]:
# Find rows where Name is null AND City is null
C_ID = df1[df1['CustomerID'].isnull()]
C_ID

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
14,Lee Clock,3.0,NaN,2/25/2025,Usd,NaN,Store_A
25,Baker Speaker,NaN,20.00,11/19/2024,NaN,NaN,Store_A
31,Phillips Hook,2.0,30.00,6/16/2024,USD,NaN,Store_A
37,Edwards Mixer,3.0,15.75,12/29/2024,usd,NaN,Store_A
42,Reed Rack,2.0,30.00,11/6/2024,USD,NaN,Store_A
49,Cooper Knife,1.0,20.00,11/5/2024,USD,NaN,Store_A
69,Cole Disk,3.0,10.50,7/4/2024,Usd,NaN,Store_A
79,Butler Jacket,NaN,10.50,2/17/2025,NaN,NaN,Store_A
92,Graham Cleaner,3.0,10.50,6/7/2024,NaN,NaN,Store_A
93,Sullivan Wax,3.0,30.00,5/13/2025,usd,NaN,Store_A

In [7]:
# Find rows where Name is null AND City is null
QTY = df1[df1['Qty'].isnull()]
QTY

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
1,Johnson Screen,NaN,NaN,2/23/2025,Usd,c0b9df4e-8f03-4bf0-a31b-0a7d7c2a8907,Store_A
3,White Monitor,NaN,10.50,4/16/2025,USD,e4d09733-d496-47b3-a4b5-04de84d8fd06,Store_A
5,Smith Bag,NaN,30.00,1/24/2025,USD,918d3b6c-c8bc-4bb9-9789-319b8f7f1d10,Store_A
6,Young Printer,NaN,20.00,10/11/2024,NaN,722ce28c-e0ef-47f2-a3cc-91d1372bebaf,Store_A
10,Williams Bottle,NaN,NaN,2/6/2025,OMR,691df20b-7bb8-4a7b-8a4b-07a997a311fa,Store_A
19,Lewis Ruler,NaN,15.75,2/21/2025,NaN,10f25bba-5c31-4c70-b065-e050a9b6803a,Store_A
20,Robinson Shelf,NaN,NaN,5/11/2025,usd,ab320db6-c693-4d4f-9186-0c95cf801c15,Store_A
25,Baker Speaker,NaN,20.00,11/19/2024,NaN,NaN,Store_A
27,Carter Fan,NaN,30.00,6/29/2024,OMR,feaeae49-e208-4b0b-a4ee-88ab5eb6a7c5,Store_A
46,Murphy Dish,NaN,15.75,1/7/2025,USD,90bef402-ff6a-4cf7-87b3-b5dd0fddec0a,Store_A
48,Rivera Block,NaN,NaN,6/11/2024,OMR,f22ad4ca-0ea8-44ac-a8d6-8a7d446d179b,Store_A
58,James Grip,NaN,NaN,1/19/2025,usd,c6c7f26e-8cec-4766-a439-589cef4d841b,Store_A
70,Coleman Case,NaN,NaN,7/18/2024,Usd,5aa3340c-3207-4be3-83af-28d8daffd8c0,Store_A
71,Jenkins Valve,NaN,NaN,9/27/2024,OMR,1cc1e21a-c2e5-4616-a5cf-a544eb8a944e,Store_A
79,Butler Jacket,NaN,10.50,2/17/2025,NaN,NaN,Store_A
83,Bryant Brush,NaN,30.00,5/23/2025,usd,32b91cd3-6311-4bf8-913f-1cb56ae199cb,Store_A
84,Alexander Spray,NaN,NaN,1/1/2025,OMR,48f8ca73-3c11-4d49-aeeb-02c9aa3ec7f8,Store_A
88,Hayes Lotion,NaN,15.75,10/12/2024,usd,3e6ad095-88f3-4d04-8b4f-dcfbb945dd51,Store_A
94,Wallace Polish,NaN,15.75,7/26/2024,usd,3739bab7-1700-4841-a849-12a9f64564e4,Store_A
95,Woods Detergent,NaN,30.00,2/19/2025,usd,3ca4e50e-0b3c-4093-97aa-0203a3cb6c84,Store_A
97,West Shine,NaN,10.50,2/10/2025,usd,96680cdc-056f-482a-9c83-3976e3bb3f62,Store_A

In [8]:
# Find rows where Name is null AND City is null
U_p = df1[df1['Unit_Price'].isnull()]
U_p

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
1,Johnson Screen,NaN,NaN,2/23/2025,Usd,c0b9df4e-8f03-4bf0-a31b-0a7d7c2a8907,Store_A
10,Williams Bottle,NaN,NaN,2/6/2025,OMR,691df20b-7bb8-4a7b-8a4b-07a997a311fa,Store_A
14,Lee Clock,3.0,NaN,2/25/2025,Usd,NaN,Store_A
20,Robinson Shelf,NaN,NaN,5/11/2025,usd,ab320db6-c693-4d4f-9186-0c95cf801c15,Store_A
33,Turner Pad,3.0,NaN,9/25/2024,usd,1b96902d-270f-44ad-8e0c-b401104aaadb,Store_A
38,Stewart Mouse,2.0,NaN,2/22/2025,NaN,7b1e02c1-ecf9-404f-9394-ee8e66efa50c,Store_A
41,Rogers Lid,1.0,NaN,3/7/2025,NaN,2763a02b-2940-4497-931c-db0ad39455be,Store_A
45,Bell Glove,1.0,NaN,11/3/2024,usd,88e499a8-56da-4a23-816a-ab63e11b4fe1,Store_A
48,Rivera Block,NaN,NaN,6/11/2024,OMR,f22ad4ca-0ea8-44ac-a8d6-8a7d446d179b,Store_A
56,Gray Tool,1.0,NaN,11/10/2024,Usd,11444ef2-a6c9-42e9-8015-6446784d11a7,Store_A
58,James Grip,NaN,NaN,1/19/2025,usd,c6c7f26e-8cec-4766-a439-589cef4d841b,Store_A
61,Kelly String,3.0,NaN,7/14/2024,Usd,c609daa1-65a4-40ba-ac71-06c8ea76bb1b,Store_A
65,Wood Tire,3.0,NaN,7/9/2024,usd,66784559-57f6-4506-a4af-07d797937c8b,Store_A
66,Barnes Belt,2.0,NaN,5/3/2025,OMR,81d45348-605d-48cf-9f4f-56b238b6a54f,Store_A
70,Coleman Case,NaN,NaN,7/18/2024,Usd,5aa3340c-3207-4be3-83af-28d8daffd8c0,Store_A
71,Jenkins Valve,NaN,NaN,9/27/2024,OMR,1cc1e21a-c2e5-4616-a5cf-a544eb8a944e,Store_A
73,Powell Tube,1.0,NaN,2/18/2025,Usd,ac833294-a70a-492b-85bc-1855d25012a7,Store_A
74,Long Mat,2.0,NaN,6/13/2024,usd,f6e61f5d-f8ef-48b1-8818-4dc472a6508d,Store_A
81,Foster Hat,3.0,NaN,4/1/2025,NaN,f50d52b2-4450-42d5-b41a-f6d1d0e65409,Store_A
82,Gonzales Sock,2.0,NaN,5/28/2024,NaN,d767c17d-d02f-4e56-9a7e-e7da7912d0cf,Store_A
84,Alexander Spray,NaN,NaN,1/1/2025,OMR,48f8ca73-3c11-4d49-aeeb-02c9aa3ec7f8,Store_A
91,Hamilton Paste,2.0,NaN,3/8/2025,USD,c3a69b36-f48b-4fcf-84ed-a6e489a98c8a,Store_A

In [9]:
# Find rows where Name is null AND City is null
C_t = df1[df1['CurrencyType'].isnull()]
C_t

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
6,Young Printer,NaN,20.00,10/11/2024,NaN,722ce28c-e0ef-47f2-a3cc-91d1372bebaf,Store_A
8,Anderson Lamp,3.0,30.00,5/14/2025,NaN,d9966648-3b63-487c-9011-d52513c114d7,Store_A
13,Martin Charger,1.0,15.75,8/5/2024,NaN,d9eac4d1-730d-422d-943b-fde6eacacf3c,Store_A
19,Lewis Ruler,NaN,15.75,2/21/2025,NaN,10f25bba-5c31-4c70-b065-e050a9b6803a,Store_A
22,Scott Plate,1.0,20.00,1/16/2025,NaN,3ec28f56-6bb9-4553-bdcc-07b13c1b305f,Store_A
24,Green Folder,2.0,30.00,3/3/2025,NaN,546ef9ad-fc0e-4f4e-af6e-d78188f6373e,Store_A
25,Baker Speaker,NaN,20.00,11/19/2024,NaN,NaN,Store_A
36,Collins Rug,3.0,10.50,10/10/2024,NaN,8a92685f-22de-4bde-8abb-48b670e75e56,Store_A
38,Stewart Mouse,2.0,NaN,2/22/2025,NaN,7b1e02c1-ecf9-404f-9394-ee8e66efa50c,Store_A
39,Sanchez Book,1.0,10.50,12/1/2024,NaN,b566917e-8a4a-4066-ab75-ecee2cd0a132,Store_A
41,Rogers Lid,1.0,NaN,3/7/2025,NaN,2763a02b-2940-4497-931c-db0ad39455be,Store_A
50,Richardson Nail,1.0,10.50,3/30/2025,NaN,5a63a128-3213-47c8-b945-18709cc3df2b,Store_A
51,Cox Screw,1.0,30.00,9/1/2024,NaN,4891ece4-fa78-4615-a06a-099bc89e573b,Store_A
52,Howard Can,2.0,20.00,2/20/2025,NaN,6cec3841-9a48-4baa-84a0-08b1184ebd71,Store_A
54,Torres Table,1.0,10.50,7/20/2024,NaN,5bbc6d30-0977-478f-b951-9f2cd98564af,Store_A
72,Perry Switch,3.0,15.75,5/5/2025,NaN,fe5a68ba-609e-456f-a6f4-e4be6622c280,Store_A
79,Butler Jacket,NaN,10.50,2/17/2025,NaN,NaN,Store_A
80,Simmons Shorts,1.0,20.00,9/22/2024,NaN,d0345a35-6c2b-4301-8b7a-ee62d1ab9d47,Store_A
81,Foster Hat,3.0,NaN,4/1/2025,NaN,f50d52b2-4450-42d5-b41a-f6d1d0e65409,Store_A
82,Gonzales Sock,2.0,NaN,5/28/2024,NaN,d767c17d-d02f-4e56-9a7e-e7da7912d0cf,Store_A
86,Griffin Cream,3.0,30.00,6/14/2024,NaN,0e57e6c8-d5c5-43fa-919e-3640f6ebba01,Store_A
92,Graham Cleaner,3.0,10.50,6/7/2024,NaN,NaN,Store_A

In [10]:
imputer_Cus_ID = SimpleImputer(strategy='most_frequent')
df1['CustomerID'] = imputer_Cus_ID.fit_transform(df1['CustomerID'].values.reshape(-1, 1)).ravel()

imputer_Qty = SimpleImputer(strategy='mean')
df1['Qty'] = imputer_Qty.fit_transform(df1[['Qty']])

imputer_U_p = SimpleImputer(strategy='mean')
df1['Unit_Price'] = imputer_U_p.fit_transform(df1[['Unit_Price']])

imputer_C_t = SimpleImputer(strategy='most_frequent')
df1['CurrencyType'] = imputer_C_t.fit_transform(df1['CurrencyType'].values.reshape(-1, 1)).ravel()

In [11]:
# Find rows where Name is null AND City is null
C_ID = df1[df1['CustomerID'].isnull()]
C_ID

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [12]:
# Find rows where Name is null AND City is null
QTY = df1[df1['Qty'].isnull()]
QTY

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [13]:
# Find rows where Name is null AND City is null
U_p = df1[df1['Unit_Price'].isnull()]
U_p

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [14]:
# Find rows where Name is null AND City is null
C_t = df1[df1['CurrencyType'].isnull()]
C_t

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [15]:
df1['Qty'] = df1['Qty'].astype('int64')
df1['SaleDate'] = df1['SaleDate'].astype('datetime64[ns]')

In [16]:
df1.dtypes

ProductName             object
Qty                      int64
Unit_Price             float64
SaleDate        datetime64[ns]
CurrencyType            object
CustomerID              object
StoreID                 object
dtype: object

In [17]:
df1['Total_Price'] = df1['Unit_Price'] * df1['Qty']

In [18]:
valid_currencies = ['usd', 'USD', 'Usd']
if df1['CurrencyType'].isin(valid_currencies).any():
    df1['Unit_Price'] = df1['Unit_Price'] * 0.38

In [19]:
df1['CurrencyType'] = df1['CurrencyType'].str.replace('usd','OMR').str.replace('Usd','OMR').str.replace('USD','OMR')

In [20]:
df1['CurrencyType'].unique()

array(['OMR'], dtype=object)

In [21]:
df1['StoreID'] = df1['StoreID'].str.replace('store-A','Store_A').str.replace('STORE_A','Store_A')

In [22]:
df1['StoreID'].unique()

array(['Store_A'], dtype=object)

In [23]:
print(df2.info(),"\n")
print(df2.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductName   100 non-null    object
 1   Qty           66 non-null     float64
 2   Unit_Price    75 non-null     float64
 3   SaleDate      100 non-null    object
 4   CurrencyType  84 non-null     object
 5   CustomerID    88 non-null     object
 6   StoreID       100 non-null    object
dtypes: float64(2), object(5)
memory usage: 5.6+ KB
None

Index(['ProductName', 'Qty', 'Unit_Price', 'SaleDate', 'CurrencyType',
       'CustomerID', 'StoreID'],
      dtype='object')

In [24]:
df2.describe()

             Qty  Unit_Price
count  66.000000   75.000000
mean    2.090909   19.096667
std     0.817638    7.282533
min     1.000000   10.500000
25%     1.000000   15.750000
50%     2.000000   15.750000
75%     3.000000   30.000000
max     3.000000   30.000000

In [25]:
df2.isnull().sum()

ProductName      0
Qty             34
Unit_Price      25
SaleDate         0
CurrencyType    16
CustomerID      12
StoreID          0
dtype: int64

In [26]:
C2_ID = df2[df2['CustomerID'].isnull()]
C2_ID

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
20,Phillips Hook,3.0,NaN,4/9/2025,NaN,NaN,store-A
24,Stewart Mouse,NaN,30.00,6/30/2024,NaN,NaN,store-A
28,Wood Tire,2.0,NaN,8/2/2024,OMR,NaN,store-A
38,Bryant Brush,3.0,15.75,6/18/2024,Usd,NaN,store-A
50,Jordan Bleach,3.0,NaN,11/8/2024,Usd,NaN,store-A
51,West Shine,NaN,15.75,9/2/2024,OMR,NaN,store-A
58,Ross Cover,1.0,15.75,8/15/2024,USD,NaN,store-A
61,Barrett Basket,2.0,NaN,6/14/2024,NaN,NaN,store-A
66,Lane Mug,2.0,NaN,7/7/2024,NaN,NaN,store-A
68,Welch Spray,NaN,30.00,4/22/2025,OMR,NaN,store-A
79,Wallace Sheet,2.0,30.00,10/27/2024,USD,NaN,store-A
92,Cook Tray,1.0,30.00,3/9/2025,Usd,NaN,store-A

In [27]:
QTY2 = df2[df2['Qty'].isnull()]
QTY2

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Smith Paper,NaN,15.75,1/21/2025,USD,e7ca4c9c-f50c-47b7-bfa8-9099481cda82,store-A
3,White Monitor,NaN,15.75,1/9/2025,NaN,953b7f1c-47e2-4d65-92c1-871feb259325,store-A
5,Martin Charger,NaN,15.75,12/20/2024,USD,267f6422-e359-4bb5-98c9-300691a129bf,store-A
8,Harris Pen,NaN,10.50,10/25/2024,usd,2520f9ed-572a-45a1-96af-3d25c78e1b98,store-A
12,Lewis Ruler,NaN,NaN,9/27/2024,Usd,b1472070-43cf-4430-9a11-f6397f902e0c,store-A
15,Parker Cable,NaN,NaN,5/31/2024,OMR,15fda73e-7b88-4ad7-85c9-d23d8187e574,store-A
18,Mitchell Frame,NaN,15.75,10/4/2024,OMR,28db4b77-bf17-4d5e-8c81-aa62e84a1b6e,store-A
22,Rivera Block,NaN,NaN,6/5/2024,Usd,1b35b6d8-800e-4972-879e-7235f8840cb3,store-A
24,Stewart Mouse,NaN,30.00,6/30/2024,NaN,NaN,store-A
26,James Grip,NaN,15.75,8/20/2024,Usd,cd09a97b-9cf0-43c7-94f7-8429dda52a58,store-A
27,Barnes Belt,NaN,NaN,5/14/2025,Usd,75d8418d-cfed-4264-8371-5240b329ae85,store-A
30,Bennett Lock,NaN,10.50,10/19/2024,Usd,d0ca3892-b567-47e7-bdd8-e6ff93c008e4,store-A
31,Henderson Gear,NaN,20.00,2/10/2025,NaN,d9863483-2c2e-40fe-a61c-947827fdc682,store-A
34,Powell Tube,NaN,15.75,1/6/2025,USD,df0dcf93-d795-418c-8ad0-3f87ebb22022,store-A
36,Jenkins Valve,NaN,10.50,12/15/2024,Usd,56db1f35-4912-4506-bdcb-454b361283d7,store-A
41,Hayes Lotion,NaN,10.50,6/19/2024,Usd,10c8ed7e-bba0-4f05-99b7-c72d90c66aaf,store-A
43,Wallace Polish,NaN,30.00,2/3/2025,USD,7483887b-54a5-4722-af8f-8ff753116c08,store-A
45,Graham Cleaner,NaN,15.75,11/25/2024,NaN,f217ea88-9f4e-44ae-9587-4e51dbe668a4,store-A
46,Cole Polish,NaN,NaN,12/25/2024,usd,089f6dd7-f901-4521-a02c-eb1bf002c6c7,store-A
49,Alexander Spray,NaN,15.75,4/23/2025,usd,952da22b-e04f-46f1-9fbf-5b5669fcd40b,store-A
51,West Shine,NaN,15.75,9/2/2024,OMR,NaN,store-A
56,Morgan Stick,NaN,30.00,12/13/2024,Usd,5ae26050-8ef0-4a6a-b066-c0ab0f8f000e,store-A
57,Reed Rack,NaN,20.00,8/5/2024,usd,b43b7533-7ef7-42b1-bf04-1924e6d0b1f6,store-A
60,Hanson Flashlight,NaN,20.00,9/26/2024,USD,124ea517-d2c8-4ce0-8b00-fcdcfecff89e,store-A
67,Dixon Marker,NaN,30.00,3/25/2025,usd,8263d1e9-1cd2-4843-bcac-3c56d400fb28,store-A
68,Welch Spray,NaN,30.00,4/22/2025,OMR,NaN,store-A
71,Fox Calendar,NaN,20.00,5/7/2025,USD,f7a32f39-77ca-4b03-8064-a0331366e3b4,store-A
73,Doyle Powder,NaN,30.00,6/15/2024,USD,70a05a3b-f927-4429-8d10-f6242ca3c905,store-A
76,Vasquez Bottle,NaN,NaN,3/22/2025,USD,0ead620f-7c7d-4908-bdda-c73282d77d87,store-A
77,Holmes Hook,NaN,30.00,11/10/2024,usd,4f3cb6cf-b60e-49aa-b61c-a1bbed8c8f2c,store-A
82,Newman Rod,NaN,NaN,5/10/2025,NaN,9d45b8b4-c5ad-4768-999b-3dfff5aef310,store-A
89,Barker Deodorant,NaN,15.75,8/5/2024,OMR,a5613db9-80b4-4979-9a6d-7771cec32147,store-A
96,Fisher Cover,NaN,20.00,5/23/2025,usd,9d384907-7e3e-46cc-b11b-40a52a0b6c85,store-A
98,Doyle Grip,NaN,20.00,11/7/2024,OMR,c7a97c12-67e2-408b-bebe-686e875e2e7b,store-A

In [28]:
U_p2 = df2[df2['Unit_Price'].isnull()]
U_p2

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
6,Walker Camera,1.0,NaN,2/19/2025,USD,75ba74dd-7ada-4f1d-9bf1-b95d2aaabd98,store-A
7,Allen Notebook,3.0,NaN,6/11/2024,Usd,db9a761e-8833-4a9f-9753-6e31705ce909,store-A
10,Moore Chair,3.0,NaN,8/10/2024,usd,1889ca5a-60c6-4da8-8289-4cd9af1f7152,store-A
12,Lewis Ruler,NaN,NaN,9/27/2024,Usd,b1472070-43cf-4430-9a11-f6397f902e0c,store-A
15,Parker Cable,NaN,NaN,5/31/2024,OMR,15fda73e-7b88-4ad7-85c9-d23d8187e574,store-A
20,Phillips Hook,3.0,NaN,4/9/2025,NaN,NaN,store-A
22,Rivera Block,NaN,NaN,6/5/2024,Usd,1b35b6d8-800e-4972-879e-7235f8840cb3,store-A
23,Sanchez Book,1.0,NaN,11/10/2024,usd,1f696c4e-14d1-40b4-a151-52968f14a663,store-A
27,Barnes Belt,NaN,NaN,5/14/2025,Usd,75d8418d-cfed-4264-8371-5240b329ae85,store-A
28,Wood Tire,2.0,NaN,8/2/2024,OMR,NaN,store-A
35,Long Mat,2.0,NaN,1/5/2025,NaN,6d1e722b-f021-40d1-b632-79c8bac35bd8,store-A
39,Russell Oil,3.0,NaN,5/24/2025,OMR,d51975f7-6f63-42ac-9fff-a6b86d07a7aa,store-A
46,Cole Polish,NaN,NaN,12/25/2024,usd,089f6dd7-f901-4521-a02c-eb1bf002c6c7,store-A
50,Jordan Bleach,3.0,NaN,11/8/2024,Usd,NaN,store-A
52,Owens Powder,2.0,NaN,5/26/2024,USD,cd0c15d3-031b-40f3-9855-75b94699e5e5,store-A
59,Sanderson Spray,3.0,NaN,8/8/2024,USD,7a2e9e34-b07f-4ef0-bded-ac378df3efd6,store-A
61,Barrett Basket,2.0,NaN,6/14/2024,NaN,NaN,store-A
65,Boone Balm,2.0,NaN,8/25/2024,USD,05d75424-135a-40ea-9f43-7297d527e0e0,store-A
66,Lane Mug,2.0,NaN,7/7/2024,NaN,NaN,store-A
69,Gibbs Cream,3.0,NaN,12/31/2024,NaN,2b06b9cf-bfd9-4a6b-809c-ae5d5b4202e1,store-A
76,Vasquez Bottle,NaN,NaN,3/22/2025,USD,0ead620f-7c7d-4908-bdda-c73282d77d87,store-A
82,Newman Rod,NaN,NaN,5/10/2025,NaN,9d45b8b4-c5ad-4768-999b-3dfff5aef310,store-A
83,Matthews Plate,3.0,NaN,9/2/2024,USD,b2eb7229-40ca-4a32-be30-35c42bfabcad,store-A
86,Rivers Lid,1.0,NaN,6/17/2024,OMR,0dadb5f8-e924-45a5-806b-681dd7aebdea,store-A
91,Griffin Cream,3.0,NaN,1/21/2025,USD,c573b121-c976-47ff-9f1e-5bb1542ca7e7,store-A

In [29]:
C_t2 = df2[df2['CurrencyType'].isnull()]
C_t2

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
3,White Monitor,NaN,15.75,1/9/2025,NaN,953b7f1c-47e2-4d65-92c1-871feb259325,store-A
20,Phillips Hook,3.0,NaN,4/9/2025,NaN,NaN,store-A
24,Stewart Mouse,NaN,30.00,6/30/2024,NaN,NaN,store-A
31,Henderson Gear,NaN,20.00,2/10/2025,NaN,d9863483-2c2e-40fe-a61c-947827fdc682,store-A
35,Long Mat,2.0,NaN,1/5/2025,NaN,6d1e722b-f021-40d1-b632-79c8bac35bd8,store-A
40,Diaz Soap,3.0,15.75,12/9/2024,NaN,86c2d109-c411-48d9-8d1c-0e4c9cf09711,store-A
45,Graham Cleaner,NaN,15.75,11/25/2024,NaN,f217ea88-9f4e-44ae-9587-4e51dbe668a4,store-A
53,Bell Glove,1.0,10.50,12/2/2024,NaN,dc85e4b9-5a84-4d60-9ada-def3a5408965,store-A
61,Barrett Basket,2.0,NaN,6/14/2024,NaN,NaN,store-A
63,Bowen Tire,2.0,10.50,10/21/2024,NaN,2398f009-a88e-4af1-b32e-e9eaf1c0409c,store-A
66,Lane Mug,2.0,NaN,7/7/2024,NaN,NaN,store-A
69,Gibbs Cream,3.0,NaN,12/31/2024,NaN,2b06b9cf-bfd9-4a6b-809c-ae5d5b4202e1,store-A
72,Swanson Bucket,2.0,20.00,2/24/2025,NaN,0437bab5-0dae-422e-9d2d-719091ea2dd9,store-A
74,Ball Notebook,3.0,30.00,7/16/2024,NaN,07991be5-0500-4bdc-95bc-a3ee50f4d268,store-A
81,Daniels Coat,2.0,10.50,3/18/2025,NaN,9c6e0ab1-c9b0-4029-b2f6-1d23b9008d1d,store-A
82,Newman Rod,NaN,NaN,5/10/2025,NaN,9d45b8b4-c5ad-4768-999b-3dfff5aef310,store-A

In [30]:
imputer_Cus_ID = SimpleImputer(strategy='most_frequent')
df2['CustomerID'] = imputer_Cus_ID.fit_transform(df2['CustomerID'].values.reshape(-1, 1)).ravel()

imputer_Qty = SimpleImputer(strategy='mean')
df2['Qty'] = imputer_Qty.fit_transform(df2[['Qty']])

imputer_U_p = SimpleImputer(strategy='mean')
df2['Unit_Price'] = imputer_U_p.fit_transform(df2[['Unit_Price']])

imputer_C_t = SimpleImputer(strategy='most_frequent')
df2['CurrencyType'] = imputer_C_t.fit_transform(df2['CurrencyType'].values.reshape(-1, 1)).ravel()

In [31]:
C2_ID = df2[df2['CustomerID'].isnull()]
C2_ID

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [32]:
QTY2 = df2[df2['Qty'].isnull()]
QTY2

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [33]:
U_p2 = df2[df2['Unit_Price'].isnull()]
U_p2

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [34]:
C_t2 = df2[df2['CurrencyType'].isnull()]
C_t2

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [35]:
df2['Qty'] = df2['Qty'].astype('int64')
df2['SaleDate'] = df2['SaleDate'].astype('datetime64[ns]')

In [36]:
df2.dtypes

ProductName             object
Qty                      int64
Unit_Price             float64
SaleDate        datetime64[ns]
CurrencyType            object
CustomerID              object
StoreID                 object
dtype: object

In [37]:
df2['Total_Price'] = df2['Qty'] * df2['Unit_Price']

In [38]:
valid_currencies = ['usd', 'USD', 'Usd']
if df2['CurrencyType'].isin(valid_currencies).any():
    df2['Unit_Price'] = df2['Unit_Price'] * 0.38

In [39]:
df2['CurrencyType'] = df2['CurrencyType'].str.replace('usd','OMR').str.replace('Usd','OMR').str.replace('USD','OMR')

In [40]:
df2['CurrencyType'].unique()

array(['OMR'], dtype=object)

In [41]:
df2['StoreID'] = df2['StoreID'].str.replace('store-A','Store_A').str.replace('STORE_A','Store_A')

In [42]:
df2['StoreID'].unique()

array(['Store_A'], dtype=object)

In [43]:
print(df3.info(),"\n")
print(df3.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductName   100 non-null    object
 1   Qty           82 non-null     float64
 2   Unit_Price    80 non-null     float64
 3   SaleDate      100 non-null    object
 4   CurrencyType  84 non-null     object
 5   CustomerID    91 non-null     object
 6   StoreID       100 non-null    object
dtypes: float64(2), object(5)
memory usage: 5.6+ KB
None

Index(['ProductName', 'Qty', 'Unit_Price', 'SaleDate', 'CurrencyType',
       'CustomerID', 'StoreID'],
      dtype='object')

In [44]:
df3.isnull().sum()

ProductName      0
Qty             18
Unit_Price      20
SaleDate         0
CurrencyType    16
CustomerID       9
StoreID          0
dtype: int64

In [45]:
C3_ID = df3[df3['CustomerID'].isnull()]
C3_ID

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
17,Perry Switch,2.0,30.00,11/23/2024,USD,NaN,STORE_A
24,Washington Skirt,3.0,NaN,3/23/2025,USD,NaN,STORE_A
27,Owens Powder,2.0,10.50,4/7/2025,USD,NaN,STORE_A
41,Vasquez Bottle,1.0,NaN,3/25/2025,Usd,NaN,STORE_A
42,Holmes Hook,3.0,15.75,7/20/2024,USD,NaN,STORE_A
51,Flowers Thread,3.0,15.75,4/15/2025,usd,NaN,STORE_A
61,Warren Lamp,3.0,NaN,1/16/2025,Usd,NaN,STORE_A
78,Morris Bottle,1.0,30.00,8/22/2024,USD,NaN,STORE_A
81,Arnold Stick,1.0,10.50,5/12/2025,usd,NaN,STORE_A

In [46]:
QTY3 = df3[df3['Qty'].isnull()]
QTY3

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
1,Roberts Pen,NaN,20.00,3/12/2025,USD,e776bdfe-2cdb-4c49-96d3-63de01dca328,STORE_A
2,White Monitor,NaN,10.50,11/9/2024,Usd,f71b163e-d97f-4bdd-93eb-b5ec9e1d6e80,STORE_A
3,Moore Chair,NaN,20.00,6/16/2024,NaN,b710729e-34f6-4bba-92a3-e8dd840524b5,STORE_A
10,Rivera Block,NaN,NaN,10/13/2024,OMR,77048ffd-c5a7-47f9-8e77-c1a9c5745c2d,STORE_A
12,Gray Tool,NaN,10.50,7/9/2024,OMR,e904ad5e-4565-482d-80ee-38265d1ff48c,STORE_A
14,Price Clip,NaN,15.75,3/12/2025,usd,3b847e21-2766-4906-be24-552deb14b1c0,STORE_A
21,Russell Oil,NaN,20.00,11/11/2024,USD,471f88e1-e40d-4308-a591-7e3cb6eacf1c,STORE_A
37,Welch Spray,NaN,NaN,12/18/2024,usd,a82ef1a5-152c-4434-9804-809cb0fdb067,STORE_A
43,Wallace Sheet,NaN,15.75,7/5/2024,USD,3cbf55c8-e008-4a02-9af3-9030443f7d2a,STORE_A
67,Stevens Cap,NaN,15.75,5/24/2025,usd,c26f8410-b37e-4d7c-b9c7-7c165529bdc4,STORE_A
70,Gilbert Pad,NaN,30.00,11/18/2024,USD,0957271b-9145-4838-a842-c40eddb6a2f6,STORE_A
73,Allen Brush,NaN,30.00,1/22/2025,USD,174cb239-fa9b-49fc-88b8-052996b04e57,STORE_A
75,Reid Strap,NaN,10.50,1/5/2025,usd,57199f1f-09f2-42da-8cef-b6ce6a412e1f,STORE_A
83,Cross Rack,NaN,10.50,10/27/2024,Usd,be21d8ae-74b7-4f63-8b25-e74567602397,STORE_A
87,Foster Hook,NaN,15.75,11/2/2024,usd,ab09cd09-6822-4e5a-91a4-17570c8a00f8,STORE_A
88,Owens Tape,NaN,10.50,12/7/2024,NaN,c39e256b-4ba8-4790-91b2-a4089ae35ece,STORE_A
91,Pierce Plate,NaN,15.75,1/9/2025,USD,15c37dcb-1c11-4482-b1fc-da11997f0d63,STORE_A
96,Black,NaN,30.00,12/24/2024,Usd,6da0ca26-e56e-41e1-89b0-004aa6d74b3e,STORE_A

In [47]:
U_p3 = df3[df3['Unit_Price'].isnull()]
U_p3

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Johnson Mirror,3.0,NaN,10/15/2024,usd,ad3c23ab-269f-4fea-a92b-f23ca9dd8e8a,STORE_A
4,Jackson Cable,1.0,NaN,8/11/2024,USD,1f3219ac-02a6-455b-af6a-87711e6653d1,STORE_A
7,Mitchell Frame,3.0,NaN,4/1/2025,NaN,82c0bacf-b86f-47ee-a10f-e7119321466a,STORE_A
9,Evans Tape,3.0,NaN,2/2/2025,USD,c9c13482-e28d-4d33-844c-29bd074f07de,STORE_A
10,Rivera Block,NaN,NaN,10/13/2024,OMR,77048ffd-c5a7-47f9-8e77-c1a9c5745c2d,STORE_A
11,Sanchez Book,1.0,NaN,10/8/2024,USD,27f9e498-f3d9-4c22-a051-8b1bd11e4fad,STORE_A
13,Barnes Belt,2.0,NaN,4/3/2025,USD,74cff845-5f2b-400a-bf18-0f3cb5e0fab8,STORE_A
16,Coleman Case,1.0,NaN,4/27/2025,USD,87ad2648-ee78-498b-9cc6-4d5fd4353b94,STORE_A
24,Washington Skirt,3.0,NaN,3/23/2025,USD,NaN,STORE_A
25,Alexander Spray,1.0,NaN,9/5/2024,USD,9f543615-50fe-499d-845e-86e904a5403a,STORE_A
29,Murphy Dish,2.0,NaN,4/16/2025,usd,eef3faf3-5cbd-4965-bbad-28f57b22ad89,STORE_A
31,Reed Rack,3.0,NaN,2/10/2025,NaN,4afc9a88-1a93-4ec1-91dd-18bb63497ea2,STORE_A
37,Welch Spray,NaN,NaN,12/18/2024,usd,a82ef1a5-152c-4434-9804-809cb0fdb067,STORE_A
38,Gibbs Cream,1.0,NaN,1/15/2025,USD,e8a8cd70-5080-40c6-b45a-e32acdba61a2,STORE_A
41,Vasquez Bottle,1.0,NaN,3/25/2025,Usd,NaN,STORE_A
50,Barker Deodorant,1.0,NaN,9/29/2024,Usd,eb819074-e431-4245-b44c-2a00e60064e0,STORE_A
61,Warren Lamp,3.0,NaN,1/16/2025,Usd,NaN,STORE_A
85,Barker Book,3.0,NaN,9/15/2024,usd,4aad0387-5b47-43f0-9b19-12bd39f86c31,STORE_A
92,Palmer Screen,3.0,NaN,11/8/2024,USD,4ec70c3a-b353-4ea7-b437-bbdc3ee4cc6e,STORE_A
98,Soon,2.0,NaN,7/4/2024,NaN,a6b5132d-2026-4400-83d9-a64ed546bd51,STORE_A

In [48]:
C_t3 = df3[df3['CurrencyType'].isnull()]
C_t3

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
3,Moore Chair,NaN,20.00,6/16/2024,NaN,b710729e-34f6-4bba-92a3-e8dd840524b5,STORE_A
5,Lewis Ruler,2.0,20.00,9/28/2024,NaN,b084e1d3-c4a1-452c-b4a3-adf282b0c7bf,STORE_A
7,Mitchell Frame,3.0,NaN,4/1/2025,NaN,82c0bacf-b86f-47ee-a10f-e7119321466a,STORE_A
30,Morgan Stick,3.0,20.00,12/15/2024,NaN,25debb26-0ef4-4c61-a5bc-dc5d74696803,STORE_A
31,Reed Rack,3.0,NaN,2/10/2025,NaN,4afc9a88-1a93-4ec1-91dd-18bb63497ea2,STORE_A
54,Larson Rack,1.0,10.50,6/14/2024,NaN,6d6bf428-c920-4e22-84a5-3b5574889784,STORE_A
60,Banks Gloves,3.0,30.00,3/18/2025,NaN,0b4a7550-cb81-475b-b8f0-4d4e9668f7e8,STORE_A
62,Gibson Clock,1.0,15.75,5/22/2025,NaN,40ff5ca1-8aac-4425-9ac4-167210e0516d,STORE_A
64,Harper Phone,3.0,20.00,5/10/2025,NaN,134fd311-9094-4aef-9068-78b44f308566,STORE_A
68,Franklin Bag,3.0,10.50,4/7/2025,NaN,422bd69c-04a6-44d4-a4c1-15742a394bb3,STORE_A
71,Page Pen,2.0,10.50,10/18/2024,NaN,2ac529aa-c34d-4dcd-9f91-ba34671c0e28,STORE_A
76,Fisher Clip,2.0,15.75,3/5/2025,NaN,9cfd6adc-0b2e-4d93-a372-e7c3a915f715,STORE_A
88,Owens Tape,NaN,10.50,12/7/2024,NaN,c39e256b-4ba8-4790-91b2-a4089ae35ece,STORE_A
93,Line,1.0,30.00,10/20/2024,NaN,ace52fd8-98ba-42a9-97d3-d659153095a0,STORE_A
97,On,1.0,20.00,9/6/2024,NaN,045081fa-0df3-4904-820b-067b4176fb85,STORE_A
98,Soon,2.0,NaN,7/4/2024,NaN,a6b5132d-2026-4400-83d9-a64ed546bd51,STORE_A

In [49]:
imputer_Cus_ID = SimpleImputer(strategy='most_frequent')
df3['CustomerID'] = imputer_Cus_ID.fit_transform(df3['CustomerID'].values.reshape(-1, 1)).ravel()

imputer_Qty = SimpleImputer(strategy='mean')
df3['Qty'] = imputer_Qty.fit_transform(df3[['Qty']])

imputer_U_p = SimpleImputer(strategy='mean')
df3['Unit_Price'] = imputer_U_p.fit_transform(df3[['Unit_Price']])

imputer_C_t = SimpleImputer(strategy='most_frequent')
df3['CurrencyType'] = imputer_C_t.fit_transform(df3['CurrencyType'].values.reshape(-1, 1)).ravel()

In [50]:
C3_ID = df3[df3['CustomerID'].isnull()]
C3_ID

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [51]:
QTY3 = df3[df3['Qty'].isnull()]
QTY3

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [52]:
U_p3 = df3[df3['Unit_Price'].isnull()]
U_p3

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [53]:
C_t3 = df3[df3['CurrencyType'].isnull()]
C_t3

Empty DataFrame
Columns: [ProductName, Qty, Unit_Price, SaleDate, CurrencyType, CustomerID, StoreID]
Index: []

In [54]:
df3['Qty'] = df3['Qty'].astype('int64')
df3['SaleDate'] = df3['Qty'].astype('datetime64[ns]')

In [55]:
df3.dtypes

ProductName             object
Qty                      int64
Unit_Price             float64
SaleDate        datetime64[ns]
CurrencyType            object
CustomerID              object
StoreID                 object
dtype: object

In [56]:
df3['Total_Price'] = df3['Qty'] * df3['Unit_Price']

In [57]:
valid_currencies = ['usd', 'USD', 'Usd']
if df3['CurrencyType'].isin(valid_currencies).any():
    df3['Unit_Price'] = df3['Unit_Price'] * 0.38

In [58]:
df3['CurrencyType'] = df3['CurrencyType'].str.replace('usd','OMR').str.replace('Usd','OMR').str.replace('USD','OMR')

In [59]:
df3['CurrencyType'].unique()

array(['OMR'], dtype=object)

In [60]:
df3['StoreID'] = df3['StoreID'].str.replace('store-A','Store_A').str.replace('STORE_A','Store_A')

In [61]:
df3['StoreID'].unique()

array(['Store_A'], dtype=object)

In [62]:
# Stack vertically (add rows)
combined = pd.concat([df1, df2, df3], axis=0)

In [63]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 0 to 99
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductName   300 non-null    object
 1   Qty           300 non-null    int64
 2   Unit_Price    300 non-null    float64
 3   SaleDate      300 non-null    datetime64[ns]
 4   CurrencyType  300 non-null    object
 5   CustomerID    300 non-null    object
 6   StoreID       300 non-null    object
 7   Total_Price   300 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 21.1+ KB

In [64]:
product_df = combined[['ProductName']].drop_duplicates().reset_index(drop=True)
product_df['ProductID'] = product_df.index + 1

# Merge ProductID back to the main table
combined = combined.merge(product_df, on='ProductName', how='left')

# Create SaleID (primary key for fact table)
combined['SaleID'] = range(1, len(combined) + 1)

# Create Customer dimension table (ensure unique)
customer_df = combined[['CustomerID']].drop_duplicates().reset_index(drop=True)

# Create Store dimension table (ensure unique)
store_df = combined[['StoreID']].drop_duplicates().reset_index(drop=True)

# Create Sale fact table
sale_df = combined[['SaleID', 'ProductID', 'CustomerID', 'StoreID', 
                    'Qty', 'Unit_Price', 'SaleDate', 'CurrencyType']]

In [65]:
try:
    # Establish database connection
    connection = pymysql.connect(
        host='127.0.0.1',
        port=3306,
        user='root',
        password='Ibrahim2001@',
        charset='utf8mb4',
        cursorclass=pymysql.cursors.DictCursor
    )

    with connection.cursor() as cursor:
        # Database setup
        cursor.execute("DROP DATABASE IF EXISTS sales1")
        cursor.execute("CREATE DATABASE sales1 CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci")
        cursor.execute("USE sales1")

        # Create tables with explicit transaction
        connection.begin()
        
        # Create product table
        cursor.execute("""
            CREATE TABLE product (
                ProductID INT PRIMARY KEY,
                ProductName VARCHAR(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci
            )
        """)
        
        # Create customer table
        cursor.execute("""
            CREATE TABLE customer (
                CustomerID VARCHAR(255) PRIMARY KEY
            ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci
        """)
        
        # Create store table
        cursor.execute("""
            CREATE TABLE store (
                StoreID VARCHAR(255) PRIMARY KEY
            ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci
        """)
        
        # Create sale table with foreign keys
        cursor.execute("""
            CREATE TABLE sale (
                SaleID INT PRIMARY KEY,
                ProductID INT NOT NULL,
                CustomerID VARCHAR(255) NOT NULL,
                StoreID VARCHAR(255) NOT NULL,
                Qty INT,
                Unit_Price DECIMAL(10,2),
                SaleDate DATETIME,
                CurrencyType VARCHAR(10),
                FOREIGN KEY (ProductID) REFERENCES product(ProductID),
                FOREIGN KEY (CustomerID) REFERENCES customer(CustomerID),
                FOREIGN KEY (StoreID) REFERENCES store(StoreID)
            ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci
        """)
        
        connection.commit()
        print("Tables created successfully")

        # Insert data in proper order to maintain referential integrity
        # 1. Insert products
        print("Inserting products...")
        product_insert = "INSERT INTO product (ProductID, ProductName) VALUES (%s, %s)"
        for _, row in product_df.iterrows():
            try:
                cursor.execute(product_insert, (int(row.ProductID), row.ProductName))
            except IntegrityError:
                connection.rollback()
                print(f"Duplicate product skipped: ID {row.ProductID}, Name {row.ProductName}")
                continue
        
        # 2. Insert customers
        print("Inserting customers...")
        customer_insert = "INSERT INTO customer (CustomerID) VALUES (%s)"
        for _, row in customer_df.iterrows():
            try:
                cursor.execute(customer_insert, (row.CustomerID,))
            except IntegrityError:
                connection.rollback()
                print(f"Duplicate customer skipped: {row.CustomerID}")
                continue
        
        # 3. Insert stores
        print("Inserting stores...")
        store_insert = "INSERT INTO store (StoreID) VALUES (%s)"
        for _, row in store_df.iterrows():
            try:
                cursor.execute(store_insert, (row.StoreID,))
            except IntegrityError:
                connection.rollback()
                print(f"Duplicate store skipped: {row.StoreID}")
                continue
        
        # 4. Insert sales (with more comprehensive error handling)
        print("Inserting sales...")
        sale_insert = """
            INSERT INTO sale (
                SaleID, ProductID, CustomerID, StoreID, 
                Qty, Unit_Price, SaleDate, CurrencyType
            ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        """
        for _, row in sale_df.iterrows():
            try:
                cursor.execute(sale_insert, (
                    int(row.SaleID),
                    int(row.ProductID),
                    row.CustomerID,
                    row.StoreID,
                    int(row.Qty) if pd.notna(row.Qty) else None,
                    float(row.Unit_Price) if pd.notna(row.Unit_Price) else None,
                    row.SaleDate.strftime('%Y-%m-%d %H:%M:%S') if pd.notnull(row.SaleDate) else None,
                    row.CurrencyType
                ))
            except MySQLError as e:
                connection.rollback()
                print(f"Failed to insert sale {row.SaleID}: {str(e)}")
                continue
        
        connection.commit()
        print("All data inserted successfully!")

except MySQLError as e:
    print(f"MySQL Error occurred: {str(e)}")
    if 'connection' in locals() and connection.open:
        connection.rollback()
except Exception as e:
    print(f"Unexpected error occurred: {str(e)}")
finally:
    if 'connection' in locals() and connection.open:
        connection.close()
        print("Database connection closed")

Tables created successfully
Inserting products...
Inserting customers...
Inserting stores...
Inserting sales...
All data inserted successfully!
Database connection closed